In [8]:
import pandas as pd
path = "data\\united_states_governors.csv"
data = pd.read_csv(path,sep=",")
data = data[["governor"]].drop_duplicates()
data

                governor
0            Jeff Colyer
2          Eric Greitens
4            Chuck Morse
5       Ricardo Rosselló
8            Phil Bryant
...                  ...
12322     Thomas Wharton
12325      Patrick Henry
12329      Meshech Weare
12339  Archibald Bulloch
12341     Nicholas Cooke

[2388 rows x 1 columns]